@using System.Web.Optimization
@model SPOC.Web.Models.ForgetPwdViewModel2
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@L("PlatForm")智能教学系统</title>
    <link rel="shortcut icon" href="~/images/@(L("Language")+".ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/rsa")

    <script src="~/Scripts/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/Scripts/bootstrap-select/select.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/base.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-select/bootstrap-select.css">
    <style>
        .bootstrap-select.btn-group .dropdown-menu.inner {
            padding-top: 5px
        }

        .pull-left {
            padding-left: 40px
        }
    </style>
    <script>
        function onSubmitCheck() {
            if (!isPlaceholder()) {

                $("#forgetPwd-form input").each(
                    function() {
                        var pwdVal = $(this).attr('placeholder');
                        if (pwdVal !== "" && pwdVal != null) {
                            $(this).show();
                        }
                    }
                );
            }
            
        }

        function isPlaceholder() {
            var input = document.createElement('input');
            return 'placeholder' in input;
        }

        function checkCodeChange() {
            var obj = document.getElementById("checkCodeImg");
            obj.src = obj.src + "?";
        }

        $(function () {
            $('.login-container').css('transform', 'scale(1)');

            $("#forgetPwd-form").submit(function () {

                onSubmitCheck();

                if (!$("#forgetPwd-form").valid()) {
                    return;
                }


                $("#submit-btn").html("正在提交....");
                $("#submit-btn").attr("disabled", true);


            });
        });
    </script>
</head>
<body>
<div class="login-page">
    <img src="~/images/login_full_bg.jpg" alt="backgroundImg" class="bg-img">
    <div class="login-container">
        <div class="panel panel-default panel-col" style=" min-height:370px; background-color: transparent;">
            <div class="panel-heading" style="background-color: rgba(245, 245, 245, 0.6);">
                <h3>找回密码</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" action="/Account/ForgetPassword" method="post" id="forgetPwd-form" name="form-horizontal">

                    @if (Model.Statu == "ok")
                    {
                        <br /><br /><br />
                        <div style="font-size:20px; text-align:center" id="ok_div">@Model.Msg</div><br /><br />

                    }
                    else
                    {
                        if (Model.Statu == "error")
                        {
                            <div style="width:75%; margin-left:12.5%" class="form-group mbl alert alert-danger" id="error_divs"> @Model.Msg </div>
                        }

                        <div class="form-group mbl">
                            <label class="col-md-3 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱:</label>

                            <div class="col-md-8 controls">

                                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "请填写注册邮箱" })
                                <p class="help-block">@Html.ValidationMessageFor(a => a.UserName)</p>
                            </div>
                        </div>
                        <div class="form-group mbl">
                            <label class="col-md-3 control-label">验证码:</label>
                            <div class="col-md-4 controls">
                                @Html.TextBoxFor(a => a.ComfrimCode, new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(a => a.ComfrimCode)</p>
                                <span class="w5c-error"></span>
                            </div>
                            <div class="col-md-4 controls">
                                <img style="padding-bottom: 0px; " src="/Account/VCode/" id="checkCodeImg" />
                                <a href="#" onclick="checkCodeChange()">看不清楚</a>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <a class="btn btn-primary" href="/Account/Login">返回登录</a>
                                <button type="submit" id="submit-btn" class="btn btn-primary  ">找回密码</button>
                                @*<a href="@areaName/Account/SmsForgetPassword" style="float:right;color:#4bbbfa">短信快捷找回</a>*@
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>